*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#a97070;
}
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search-input{
    width: 0px;
    padding: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 900;
    opacity: 0;
    visibility: hidden;
    transition: width 0.8s ease;
}
.search-btn{
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    border:none;
    cursor: pointer;
}
.search-icon .search-icon{
    font-size: 45px;
}
.search-container.active .search-input{
    width: 400px;
    opacity: 1;
    visibility: visible;
}